
.row {
  margin: 30px;
}

.col {
  padding-bottom: 15px;
  padding-right: 10px;
}

.padding-left-0 {
  padding-left: 0;
}

.margin-left-0 {
  margin-left: 0;
}

.gold-color {
  color: gold;
}

.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 16px;
  text-align: center;
}
