<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark-blue">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/the-movie-db-icon.svg" class="brand-icon" alt="">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/']">Home </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/favorites']">Favorites</a>
      </li>
    </ul>
  </div>
</nav>
