<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-3 py-2" *ngFor="let movie of movies">
      <div class="card h-100">
        <img class="card-img img-fluid" width="100px" alt="..."
             [src]="movie.poster_path? posterImageBaseUrl + '/' + movie.poster_path : '../../../assets/images/no-image.png'">
        <div class="card-img-overlay">

          <span class="btn btn-danger btn-circle btn-md"
                [ngbPopover]="'Remove form favorites'" triggers="mouseenter:mouseleave" placement="bottom"
                (click)="removeFromFavorite(movie)">
            <span >&#9829;</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
