
.padding-15 {
  padding: 20px 15px 20px 15px;
}

.gold-color {
  color: gold;
}

.movie-overview {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
